In [66]:
import sqlalchemy as db

In [67]:
engine = db.create_engine("sqlite:///sqlite.db", echo=True)
conn = engine.connect()
metadata = db.MetaData()

In [68]:
table_users = db.Table(
    "users",
    metadata,
    db.Column("id", db.Integer()),
    db.Column("name", db.String(255), nullable=False),
    db.Column("fullname", db.String(255), nullable=False),
    db.Column("password", db.String(255), nullable=False),
)

metadata.create_all(engine)

2023-05-25 20:15:22,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-25 20:15:22,676 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2023-05-25 20:15:22,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-25 20:15:22,683 INFO sqlalchemy.engine.Engine COMMIT

### Fazendo operações

In [69]:
insert = db.insert(table_users).values(
    id=1, name="jack", fullname="Jack Bean", password="gjffdd"
)

In [70]:
result = conn.execute(insert)

2023-05-25 20:15:22,902 INFO sqlalchemy.engine.Engine INSERT INTO users (id, name, fullname, password) VALUES (?, ?, ?, ?)
2023-05-25 20:15:22,902 INFO sqlalchemy.engine.Engine [generated in 0.00294s] (1, 'jack', 'Jack Bean', 'gjffdd')
2023-05-25 20:15:22,912 INFO sqlalchemy.engine.Engine COMMIT

In [71]:
output = conn.execute(db.select([table_users])).fetchall()

2023-05-25 20:15:22,991 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, users.password
FROM users
2023-05-25 20:15:22,991 INFO sqlalchemy.engine.Engine [generated in 0.00114s] ()

In [72]:
output

[(None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (1, 'jack', 'Jack Bean', 'gjffdd'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (1, 'jack', 'Jack Bean', 'gjffdd')]

### Adicionando varias linhas

In [73]:
query = db.insert(table_users)

values = [
    {"id": 2, "name": "Joao", "fullname": "Joao Silva", "password": "123456"},
    {"id": 3, "name": "Jose", "fullname": "Jose Santos", "password": "123456"},
    {"id": 4, "name": "Maria", "fullname": "Maria Souza", "password": "123456"},
    {"id": 5, "name": "Ana", "fullname": "Ana Clara", "password": "123456"},
]

result = conn.execute(query, values)

output = conn.execute(db.select([table_users])).fetchall()

output

2023-05-25 20:15:23,194 INFO sqlalchemy.engine.Engine INSERT INTO users (id, name, fullname, password) VALUES (?, ?, ?, ?)
2023-05-25 20:15:23,196 INFO sqlalchemy.engine.Engine [generated in 0.00347s] ((2, 'Joao', 'Joao Silva', '123456'), (3, 'Jose', 'Jose Santos', '123456'), (4, 'Maria', 'Maria Souza', '123456'), (5, 'Ana', 'Ana Clara', '123456'))
2023-05-25 20:15:23,203 INFO sqlalchemy.engine.Engine COMMIT
2023-05-25 20:15:23,210 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, users.password
FROM users
2023-05-25 20:15:23,214 INFO sqlalchemy.engine.Engine [cached since 0.2235s ago] ()

[(None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (1, 'jack', 'Jack Bean', 'gjffdd'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (1, 'jack', 'Jack Bean', 'gjffdd'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456')]

### Consultas

In [74]:
output = conn.execute("select * from users").fetchall()
output

2023-05-25 20:15:23,351 INFO sqlalchemy.engine.Engine select * from users
2023-05-25 20:15:23,351 INFO sqlalchemy.engine.Engine [raw sql] ()

[(None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (1, 'jack', 'Jack Bean', 'gjffdd'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456'),
 (1, 'jack', 'Jack Bean', 'gjffdd'),
 (2, 'Joao', 'Joao Silva', '123456'),
 (3, 'Jose', 'Jose Santos', '123456'),
 (4, 'Maria', 'Maria Souza', '123456'),
 (5, 'Ana', 'Ana Clara', '123456')]

### Consultas com a API do SQLAlchemy

In [75]:
conn.execute(table_users.select().where(table_users.c.name == "jack")).fetchall()

2023-05-25 20:15:23,482 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, users.password
FROM users
WHERE users.name = ?
2023-05-25 20:15:23,487 INFO sqlalchemy.engine.Engine [generated in 0.00202s] ('jack',)

[(None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (None, 'jack', 'Jack Bean', 'gjffdd'),
 (1, 'jack', 'Jack Bean', 'gjffdd'),
 (1, 'jack', 'Jack Bean', 'gjffdd')]

### Integrando com o pandas

In [76]:
import pandas as pd

In [78]:
query = table_users.select().where(table_users.c.name.in_(["jack", "Joao"]))
df = pd.read_sql(query, conn, index_col="id")

print(type(df))
df

2023-05-25 20:15:36,220 INFO sqlalchemy.engine.Engine SELECT users.id, users.name, users.fullname, users.password
FROM users
WHERE users.name IN (?, ?)
2023-05-25 20:15:36,223 INFO sqlalchemy.engine.Engine [generated in 0.00236s] ('jack', 'Joao')
<class 'pandas.core.frame.DataFrame'>

     name    fullname password
id
NaN  jack   Jack Bean   gjffdd
NaN  jack   Jack Bean   gjffdd
NaN  jack   Jack Bean   gjffdd
1.0  jack   Jack Bean   gjffdd
2.0  Joao  Joao Silva   123456
2.0  Joao  Joao Silva   123456
2.0  Joao  Joao Silva   123456
2.0  Joao  Joao Silva   123456
2.0  Joao  Joao Silva   123456
1.0  jack   Jack Bean   gjffdd
2.0  Joao  Joao Silva   123456

In [79]:
# pd.to_sql("users_v2", conn, if_exists="replace", index=False)

AttributeError: module 'pandas' has no attribute 'to_sql'

### Formato declarativo

In [80]:
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base

In [82]:
engine = create_engine("sqlite:///sqlite_v2.db", echo=True)

In [83]:
conn = engine.connect()

In [ ]:
Base = declarative_base()

class School(Base):
    __tablename__ = "Impacta"

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String)

    def __init__(self, name):
        self.name = name
    
Base.metadata.create_all(engine)